# encoding=utf-8

from setuptools import setup
from glob import glob
import os


setup(
      name='turbodbc',
      version='@turbodbc_VERSION@',
      author='Michael König',
      url='http://jira.phi-tps.local',
      author_email='michael.koenig@blue-yonder.com',
      install_requires=['cpp_odbc'],
      include_package_data=True,
      packages=['turbodbc'],
)